.header{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 40.6rem;
    height: fit-content;
    padding: 15px;
    background: #16151E;
    height: 140px;
}

.header .h1{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.topRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.inputBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    margin-left: 15px;
    margin-top: 10px;
    width: 350px;
    height: 40px;
    background: #24243D;
    border-radius: 5px;
}
  
.inputBar>input {
    border: none;
    background-color: transparent;
  
    outline: none;
    width: 276px;
    height: 14px;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #E1E1E6;
}
  
.inputBar>input::placeholder {
    color: #e1e1e68a;
}

.buttons > button {
    border:none;
    background-color: transparent;
    cursor: pointer;
    padding: 7px;
}

.buttons > button:active {
    border:none;
    background-color: var(--general-red);
    border-radius: 10px;
    cursor: pointer;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
